.block {
    width: 400px;
    height: 400px;
    background-color: aqua;
    position: relative;
    



}

.square {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 20px;
    right: 20px;
  
}

p {
position: absolute;
bottom: 1px;
left: 5px;
}
